<!doctype html>
<html>
<head>
  <title>RepoRecs</title>
  <link rel="stylesheet" href="/static/styles/reset.css"/>
  <link rel="stylesheet" href="/static/styles/base.css"/>
  <link rel="stylesheet" href="/static/styles/grid.css"/>
  <link rel="stylesheet" href="/static/styles/landing.css"/>
  <link rel="stylesheet" href="/static/styles/header.css"/>
  <link rel="stylesheet" href="/static/styles/buttons.css"/>
  <link rel="stylesheet" href="/static/styles/form.css"/>
  <link rel="stylesheet" href="/static/styles/reccs.css"/>
</head>
<body>

  <main class="landing-page">
    <div class="landing-bg"></div>
    <header>
      <div class="primary-col">
        <h1>RepoRecs</h1>
      </div>
    </header>

    <section class="primary-col intro col-6">
      <div class="intro-wrapper">
        <div class="row space-bottom-none intro-text">
          <h2 class="tagline">Find your match on GitHub.</h2>
        </div>
        <div class="row intro-text">
          <p>See repo recommendations based on your activity.</p>
        </div>

        <form class="row login">
          <fieldset class="login-username">
            <input type="text" autocomplete="off" name="username" placeholder="Your GitHub username" class="col-12">
          </fieldset>
          <button class="login-submit cta cta-large">Get started</button>
        </form>
      </div>
    </section>

    <section class="reccs hidden">
      <div class="row">&nbsp;</div>
      <div class="primary-col row">
        <h2>Recommendations</h2>
      </div>

      <div class="row space-half">&nbsp;</div>

      <div class="primary-col row recc-container">
        <div class="recc-tile">
          <a href="https://github.com/PKRoma/linux" target="_blank">
              <div class="recc-number">1</div>

              <p class="repo-title">linux</p>
              <p class="repo-desc">Linux—mirror of
                  git://git.kernel.org/pub/scm/ linux/kernel/git/torvalds/linux.git</p>
          </a>
        </div>

        <div class="recc-tile">
          <div class="recc-number">2</div>

          <p class="repo-title">linux</p>
          <p class="repo-desc">Mirror of Linus Torvald's Kernel Tree http://kernel.org/</p>
        </div>

        <div class="recc-tile">
          <div class="recc-number">3</div>

          <p class="repo-title">linux-tegra</p>
          <p class="repo-desc">Personal work-in-progress for Tegra Linux</p>
        </div>

        <div class="recc-tile">
          <div class="recc-number">4</div>

          <p class="repo-title">ath10k-firmware</p>
          <p class="repo-desc">Firmware files for ath10k, a mac80211 driver for QCA9880</p>
        </div>

        <div class="recc-tile">
          <div class="recc-number">5</div>

          <p class="repo-title">linux</p>
          <p class="repo-desc">Linux kernel source tree</p>
        </div>

        <div class="recc-tile">
          <div class="recc-number">6</div>

          <p class="repo-title">ti-linux-kernel</p>
          <p class="repo-desc">mirror of: http://git.ti.com/gitweb/?p=ti-linux-…</p>
        </div>

        <div class="recc-tile">
          <div class="recc-number">7</div>

          <p class="repo-title">linux</p>
          <p class="repo-desc">Linux kernel source tree</p>
        </div>

        <div class="recc-tile">
          <div class="recc-number">8</div>

          <p class="repo-title">linux</p>
          <p class="repo-desc">Linux kernel source tree</p>
        </div>

        <div class="recc-tile">
          <div class="recc-number">9</div>
          <p class="repo-title">linux</p>
          <p class="repo-desc">Linux kernel source tree</p>
        </div>
      </div>
    </section>
  </main>

  <script>

  // Focus the "Enter username" input field on page load
  window.addEventListener('DOMContentLoaded', event => {
    document.querySelector('input[type=text]').focus();
  });

  function hideIntroText() {
    const elems = document.querySelectorAll('.intro-text');
    elems.forEach(el => el.classList.add('hidden'));
  }

  const userNameForm = document.querySelector('form');
  userNameForm.addEventListener('submit', event => {
    // Prevent browser from reloading page
    event.preventDefault();

    const introWrapper = document.querySelector('.intro-wrapper');
    introWrapper.classList.add('showing-results');

    const reccs = document.querySelector('.reccs');
    reccs.classList.remove('hidden');

    //hideIntroText();

  });
  </script>

</body>
</html>
